node-red/Dashboard_TestStand.json
[
    {
        "id": "3a0e2251f092d520",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3967ecf599ba2756",
        "type": "mqtt out",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4fb2166cce6cfb74",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "63736a6b64b21663",
        "type": "mqtt out",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4fb2166cce6cfb74",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "38145b4ea934f5ec",
        "type": "ui_chart",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "2933dd722d9486d8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "PrssureComb",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "749c92b338a2b163",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "38145b4ea934f5ec"
            ]
        ]
    },
    {
        "id": "5304fb2a4c75875f",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "testtopic/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6d43d760f82c773f",
        "type": "ui_chart",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "2933dd722d9486d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "PressureIntTank",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Pressure",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "6e017b51e3fad40c",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4fb2166cce6cfb74",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 530,
        "y": 300,
        "wires": [
            [
                "6d43d760f82c773f"
            ]
        ]
    },
    {
        "id": "08f53b5aead9237d",
        "type": "ui_chart",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "2933dd722d9486d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "PressureFlexLine",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a15f5c687d85489e",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 390,
        "y": 660,
        "wires": [
            [
                "08f53b5aead9237d"
            ]
        ]
    },
    {
        "id": "250cf42eba177aba",
        "type": "mqtt out",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/solenoid",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4fb2166cce6cfb74",
        "x": 1000,
        "y": 280,
        "wires": []
    },
    {
        "id": "4ea551dc757efc95",
        "type": "ui_switch",
        "z": "3a0e2251f092d520",
        "name": "",
        "label": "IntDrainSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "1off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 250,
        "y": 340,
        "wires": [
            [
                "3967ecf599ba2756",
                "fbc211eac8e7fa61"
            ]
        ]
    },
    {
        "id": "55719a948432644e",
        "type": "ui_switch",
        "z": "3a0e2251f092d520",
        "name": "",
        "label": "FlexFillSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "3on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "3off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 260,
        "wires": [
            [
                "250cf42eba177aba",
                "9dcc86049e653feb"
            ]
        ]
    },
    {
        "id": "3e2bee089f4d604b",
        "type": "ui_switch",
        "z": "3a0e2251f092d520",
        "name": "",
        "label": "FlexDrainSol",
        "tooltip": "",
        "group": "f0ab6a94c37a62ed",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "2on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "2off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "63736a6b64b21663",
                "fbc211eac8e7fa61"
            ]
        ]
    },
    {
        "id": "d523a52adb6c87c5",
        "type": "change",
        "z": "3a0e2251f092d520",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 380,
        "wires": [
            [
                "55719a948432644e"
            ]
        ]
    },
    {
        "id": "fbc211eac8e7fa61",
        "type": "switch",
        "z": "3a0e2251f092d520",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 420,
        "wires": [
            [
                "d523a52adb6c87c5"
            ],
            [
                "d523a52adb6c87c5"
            ]
        ]
    },
    {
        "id": "9dcc86049e653feb",
        "type": "switch",
        "z": "3a0e2251f092d520",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "fb3a1ff228c1a7ab"
            ],
            [
                "36a23818448d5c8f"
            ]
        ]
    },
    {
        "id": "fb3a1ff228c1a7ab",
        "type": "change",
        "z": "3a0e2251f092d520",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 600,
        "wires": [
            [
                "4ea551dc757efc95"
            ]
        ]
    },
    {
        "id": "36a23818448d5c8f",
        "type": "change",
        "z": "3a0e2251f092d520",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 760,
        "wires": [
            [
                "3e2bee089f4d604b"
            ]
        ]
    },
    {
        "id": "9e6c2324deeb7c01",
        "type": "ui_button",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tare",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "874748da491c0ad1"
            ]
        ]
    },
    {
        "id": "874748da491c0ad1",
        "type": "mqtt out",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/loadcells/tare",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8f0859823d35e390",
        "x": 370,
        "y": 800,
        "wires": []
    },
    {
        "id": "1bc7f8432a15103f",
        "type": "ui_chart",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Load Cells",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "e57c673bfd937a17",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/loadcells/values",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 1020,
        "wires": [
            [
                "1bc7f8432a15103f"
            ]
        ]
    },
    {
        "id": "18125a37d6552156",
        "type": "ui_chart",
        "z": "3a0e2251f092d520",
        "name": "",
        "group": "f0ab6a94c37a62ed",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Thermocouples",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "31304f4f028e8b02",
        "type": "mqtt in",
        "z": "3a0e2251f092d520",
        "name": "",
        "topic": "topic/thermocouples",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8f0859823d35e390",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 940,
        "wires": [
            [
                "18125a37d6552156"
            ]
        ]
    },
    {
        "id": "4fb2166cce6cfb74",
        "type": "mqtt-broker",
        "name": "Solder",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2933dd722d9486d8",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "feae6ac99750d11d",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "8f0859823d35e390",
        "type": "mqtt-broker",
        "name": "Rocket",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f0ab6a94c37a62ed",
        "type": "ui_group",
        "name": "Default",
        "tab": "feae6ac99750d11d",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "feae6ac99750d11d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]