node-red/flows (2).json
[
    {
        "id": "12d098e2f1a5f72b",
        "type": "tab",
        "label": "Monitor Flight",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "69810e7689e122c9",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "7bd59ae0528e5684",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BatteryVoltage_Title",
        "label": "Battery Voltage:",
        "format": "3.45 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "22587bf1cd925d52",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "f44905f4c5202a53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ApogeeVoltage_Title",
        "label": "Apogee Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "51bfed26d62f9fcc",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "f647ecbd632b6bad",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "MainVoltage_Title",
        "label": "Main Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dc74272916566fe",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "7af083d2ea7fe03c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSview_Title",
        "label": "Number of satellite in view:",
        "format": "9",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "b509d3539b984de5",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "515cb7f41e4deb83",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSpadLatitude_Title",
        "label": "Pad Latitude:",
        "format": "N   42deg   43.4411142",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "ecebcd72adc7118f",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "515cb7f41e4deb83",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSpadLongitude_Title",
        "label": "Pad Longitude:",
        "format": "W   84deg   28.806650",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "0aa659dc72235e42",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "d6e98cbeb7320dc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "DataLogging_Title",
        "label": "On-board Data Logging:",
        "format": "Ready",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 540,
        "wires": []
    },
    {
        "id": "fb9f2fa4325c4ef1",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "7af083d2ea7fe03c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSsolution_Title",
        "label": "Number of satellite in solution:",
        "format": "4",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 240,
        "wires": []
    },
    {
        "id": "ddbad739f05235e4",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "515cb7f41e4deb83",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GPSpadAltitude_Title",
        "label": "Pad Altitude",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "2382f7bca48d9fa3",
        "type": "mqtt in",
        "z": "12d098e2f1a5f72b",
        "name": "",
        "topic": "/altimeter/temperature/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 600,
        "wires": [
            [
                "45d18eac44b24df1"
            ]
        ]
    },
    {
        "id": "d0e2bda4b2608b92",
        "type": "ui_text",
        "z": "12d098e2f1a5f72b",
        "group": "531abbba8b0b9ee8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature_Title",
        "label": "Temperature:",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 600,
        "wires": []
    },
    {
        "id": "c5ebfbfd82ebc5cd",
        "type": "mqtt in",
        "z": "12d098e2f1a5f72b",
        "name": "",
        "topic": "/altimeter/altitude/",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 480,
        "wires": [
            [
                "3660b13c83613ac2"
            ]
        ]
    },
    {
        "id": "3660b13c83613ac2",
        "type": "kalman-noise-filter",
        "z": "12d098e2f1a5f72b",
        "r": 0.01,
        "q": 3,
        "x": 270,
        "y": 480,
        "wires": [
            [
                "220e27f2051f651b"
            ]
        ]
    },
    {
        "id": "45d18eac44b24df1",
        "type": "kalman-noise-filter",
        "z": "12d098e2f1a5f72b",
        "r": 0.01,
        "q": 3,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "0aca2ff497cb0188"
            ]
        ]
    },
    {
        "id": "220e27f2051f651b",
        "type": "function",
        "z": "12d098e2f1a5f72b",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 480,
        "wires": [
            [
                "ddbad739f05235e4"
            ]
        ]
    },
    {
        "id": "0aca2ff497cb0188",
        "type": "function",
        "z": "12d098e2f1a5f72b",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            [
                "d0e2bda4b2608b92"
            ]
        ]
    },
    {
        "id": "7bd59ae0528e5684",
        "type": "ui_group",
        "name": "Battery Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f44905f4c5202a53",
        "type": "ui_group",
        "name": "Apogee Igniter Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f647ecbd632b6bad",
        "type": "ui_group",
        "name": "Main Igniter Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7af083d2ea7fe03c",
        "type": "ui_group",
        "name": "GPS Locked",
        "tab": "4fa38008a8aa956c",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "515cb7f41e4deb83",
        "type": "ui_group",
        "name": "GPS Ready",
        "tab": "4fa38008a8aa956c",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6e98cbeb7320dc9",
        "type": "ui_group",
        "name": "On-board Data Logging",
        "tab": "4fa38008a8aa956c",
        "order": 6,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c061292fdee8335",
        "type": "mqtt-broker",
        "name": "rocketry",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "531abbba8b0b9ee8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "4fa38008a8aa956c",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fa38008a8aa956c",
        "type": "ui_tab",
        "name": "Monitor Flight",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]