node-red/Frontier OS Dashboard.json
[
    {
        "id": "39239084b100bbed",
        "type": "tab",
        "label": "Monitor Flight",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "448565690e3b3216",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "mpl3115a2/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 660,
        "wires": [
            [
                "4d5acd2411428736"
            ]
        ]
    },
    {
        "id": "5b6df4d1cedc202a",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "gps/altitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 540,
        "wires": [
            [
                "0f615532dd6af5ea"
            ]
        ]
    },
    {
        "id": "0f615532dd6af5ea",
        "type": "function",
        "z": "39239084b100bbed",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 540,
        "wires": [
            [
                "74b31dbb6b22651b"
            ]
        ]
    },
    {
        "id": "7756bb4976b54418",
        "type": "function",
        "z": "39239084b100bbed",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 660,
        "wires": [
            [
                "11c8ce2749868ea0"
            ]
        ]
    },
    {
        "id": "8670f412e713e56a",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "/mpu6050/AcX/",
        "topic": "mpu6050/AcX",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "a240975cd8997563"
            ]
        ]
    },
    {
        "id": "5cc6993106e29a1d",
        "type": "function",
        "z": "39239084b100bbed",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 740,
        "wires": [
            [
                "2b9dd723284289f7"
            ]
        ]
    },
    {
        "id": "be6b3066e0f8e054",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "/mpu6050/AcY/",
        "topic": "mpu6050/AcY",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 440,
        "y": 820,
        "wires": [
            [
                "06b3eeae723c32b9"
            ]
        ]
    },
    {
        "id": "57d2d46bc16b0557",
        "type": "function",
        "z": "39239084b100bbed",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 820,
        "wires": [
            [
                "b0fddc62a1c9028c"
            ]
        ]
    },
    {
        "id": "4d5acd2411428736",
        "type": "kalman-noise-filter",
        "z": "39239084b100bbed",
        "r": 0.01,
        "q": 3,
        "x": 630,
        "y": 660,
        "wires": [
            [
                "7756bb4976b54418"
            ]
        ]
    },
    {
        "id": "a240975cd8997563",
        "type": "kalman-noise-filter",
        "z": "39239084b100bbed",
        "r": 0.01,
        "q": 3,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "5cc6993106e29a1d"
            ]
        ]
    },
    {
        "id": "06b3eeae723c32b9",
        "type": "kalman-noise-filter",
        "z": "39239084b100bbed",
        "r": 0.01,
        "q": 3,
        "x": 610,
        "y": 820,
        "wires": [
            [
                "57d2d46bc16b0557"
            ]
        ]
    },
    {
        "id": "ab7fb736380a39e3",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "7bd59ae0528e5684",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BatteryVoltage_Title",
        "label": "Battery Voltage:",
        "format": "3.45 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 60,
        "wires": []
    },
    {
        "id": "7e279c6384fc237f",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "f44905f4c5202a53",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ApogeeVoltage_Title",
        "label": "Apogee Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 120,
        "wires": []
    },
    {
        "id": "7898cff107b989c4",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "f647ecbd632b6bad",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "MainVoltage_Title",
        "label": "Main Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "7abf4d0e753bb150",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "515cb7f41e4deb83",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSLatitude_Title",
        "label": "Latitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 830,
        "y": 420,
        "wires": []
    },
    {
        "id": "cc41f2fe4ff36697",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "515cb7f41e4deb83",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSLongitude_Title",
        "label": "Longitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "df1376d6e00c0206",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "7af083d2ea7fe03c",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSinuse_Title",
        "label": "Number of satellite in use:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 240,
        "wires": []
    },
    {
        "id": "74b31dbb6b22651b",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "515cb7f41e4deb83",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GPSAltitude_Title",
        "label": "Altitude:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "11c8ce2749868ea0",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "531abbba8b0b9ee8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Temperature_Title",
        "label": "Temperature:",
        "format": "{{msg.payload}} C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 930,
        "y": 660,
        "wires": []
    },
    {
        "id": "2b9dd723284289f7",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "307f264716438cd9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "mpu6050_AcX_Title",
        "label": "Acceleration X:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 940,
        "y": 740,
        "wires": []
    },
    {
        "id": "b0fddc62a1c9028c",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "307f264716438cd9",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "mpu6050_AcY_Title",
        "label": "Acceleration Y:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 800,
        "wires": []
    },
    {
        "id": "1e89a33d3e79ca36",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "gps/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "82682070ab491062"
            ]
        ]
    },
    {
        "id": "82682070ab491062",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "7af083d2ea7fe03c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSstatus_Title",
        "label": "GPS Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 820,
        "y": 300,
        "wires": []
    },
    {
        "id": "dba1f3a134f36731",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "gps/longitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 480,
        "wires": [
            [
                "cc41f2fe4ff36697"
            ]
        ]
    },
    {
        "id": "aa1bb3ea01e3c89f",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "gps/latitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "7abf4d0e753bb150"
            ]
        ]
    },
    {
        "id": "81110651821aa580",
        "type": "ui_text",
        "z": "39239084b100bbed",
        "group": "d6e98cbeb7320dc9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "DataLogging_Title",
        "label": "On-board Data Logging:",
        "format": "Ready",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "d084ef0f04404dcf",
        "type": "mqtt in",
        "z": "39239084b100bbed",
        "name": "",
        "topic": "gps/inuse",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "df1376d6e00c0206"
            ]
        ]
    },
    {
        "id": "7fe01ec6f6cd4a81",
        "type": "tab",
        "label": "Config SpartanFlight v1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d0be5cf7b7a58854",
        "type": "ui_text",
        "z": "7fe01ec6f6cd4a81",
        "group": "8d4a90db01ddc0e3",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "BatteryVoltage_Title",
        "label": "Battery Voltage:",
        "format": "3.53 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 260,
        "y": 60,
        "wires": []
    },
    {
        "id": "5a7ab1068e705d37",
        "type": "tab",
        "label": "Config Ground Station",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "930a55ab243866e4",
        "type": "ui_text",
        "z": "5a7ab1068e705d37",
        "group": "dd5a300443c1fb37",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "This is a test",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 60,
        "wires": []
    },
    {
        "id": "b348b5ff0b30297f",
        "type": "tab",
        "label": "Monitor Idle",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f70bc388a9d6f52f",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "BatteryVoltage_Title",
        "label": "Battery Voltage:",
        "format": "3.53 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 240,
        "y": 120,
        "wires": []
    },
    {
        "id": "a38718cb8937b93d",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "ApogeeVoltage_Title",
        "label": "Apogee Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "011547c5cdd477ed",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "MainVoltage_Title",
        "label": "Main Igniter Voltage:",
        "format": "0.00 V",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 240,
        "wires": []
    },
    {
        "id": "225e99d5375f7e77",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSview_Title",
        "label": "Number of satellite in view:",
        "format": "9",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 220,
        "y": 300,
        "wires": []
    },
    {
        "id": "daee04e6a0a5fd46",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "GPSpadLatitude_Title",
        "label": "Pad Latitude:",
        "format": "N   42deg   43.4411142",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 240,
        "y": 420,
        "wires": []
    },
    {
        "id": "3b70021aef10c61b",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSpadLongitude_Title",
        "label": "Pad Longitude:",
        "format": "W   84deg   28.806650",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 250,
        "y": 480,
        "wires": []
    },
    {
        "id": "73c7ae0177e07d19",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "DataLogging_Title",
        "label": "On-board Data Logging:",
        "format": "Ready",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 60,
        "wires": []
    },
    {
        "id": "4817c2aa8efedbea",
        "type": "ui_text",
        "z": "b348b5ff0b30297f",
        "group": "18599f3a4594cb0f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "GPSsolution_Title",
        "label": "Number of satellite in solution:",
        "format": "4",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "5c5a6a553521fe2a",
        "type": "tab",
        "label": "Fire Igniter",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30d3aa98c51b2dfa",
        "type": "ui_text",
        "z": "5c5a6a553521fe2a",
        "group": "957dbc1a1b49db8c",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "ea4fc340385a1931",
        "type": "tab",
        "label": "Graph Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a4f0a08c575881e",
        "type": "mqtt in",
        "z": "ea4fc340385a1931",
        "name": "",
        "topic": "mpl3115a2/altitude",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c061292fdee8335",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "80bd70076e28e9c7"
            ]
        ]
    },
    {
        "id": "e0bd0c674b9de88f",
        "type": "function",
        "z": "ea4fc340385a1931",
        "name": "Round",
        "func": "msg.payload = Math.floor(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 180,
        "wires": [
            [
                "4d4a8317ea6d2a6a"
            ]
        ]
    },
    {
        "id": "80bd70076e28e9c7",
        "type": "kalman-noise-filter",
        "z": "ea4fc340385a1931",
        "r": 0.01,
        "q": 3,
        "x": 490,
        "y": 180,
        "wires": [
            [
                "e0bd0c674b9de88f"
            ]
        ]
    },
    {
        "id": "4d4a8317ea6d2a6a",
        "type": "ui_text",
        "z": "ea4fc340385a1931",
        "group": "62ab7af2549bb141",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "GPSpadAltitude_Title",
        "label": "Pad Altitude",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "4c061292fdee8335",
        "type": "mqtt-broker",
        "name": "rocketry",
        "broker": "192.168.0.26",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7bd59ae0528e5684",
        "type": "ui_group",
        "name": "Battery Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f44905f4c5202a53",
        "type": "ui_group",
        "name": "Apogee Igniter Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f647ecbd632b6bad",
        "type": "ui_group",
        "name": "Main Igniter Voltage",
        "tab": "4fa38008a8aa956c",
        "order": 5,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "515cb7f41e4deb83",
        "type": "ui_group",
        "name": "GPS Ready",
        "tab": "4fa38008a8aa956c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7af083d2ea7fe03c",
        "type": "ui_group",
        "name": "GPS Locked",
        "tab": "4fa38008a8aa956c",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "531abbba8b0b9ee8",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "4fa38008a8aa956c",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "307f264716438cd9",
        "type": "ui_group",
        "name": "Accelerometer",
        "tab": "4fa38008a8aa956c",
        "order": 7,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6e98cbeb7320dc9",
        "type": "ui_group",
        "name": "On-board Data Logging",
        "tab": "4fa38008a8aa956c",
        "order": 8,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d4a90db01ddc0e3",
        "type": "ui_group",
        "name": "1",
        "tab": "fc042a3e748f4c27",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dd5a300443c1fb37",
        "type": "ui_group",
        "name": "2",
        "tab": "f3bf04ec3043c3ec",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "18599f3a4594cb0f",
        "type": "ui_group",
        "name": "3",
        "tab": "82e46939533dd312",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "957dbc1a1b49db8c",
        "type": "ui_group",
        "name": "4",
        "tab": "54ee4bd4f8321715",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "62ab7af2549bb141",
        "type": "ui_group",
        "name": "5",
        "tab": "d3a8b6702afd98ac",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fa38008a8aa956c",
        "type": "ui_tab",
        "name": "Monitor Flight",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fc042a3e748f4c27",
        "type": "ui_tab",
        "name": "Configure SpartanFlight v1",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f3bf04ec3043c3ec",
        "type": "ui_tab",
        "name": "Configure Ground Station",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82e46939533dd312",
        "type": "ui_tab",
        "name": "Moniter Idle",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54ee4bd4f8321715",
        "type": "ui_tab",
        "name": "Fire Igniter",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3a8b6702afd98ac",
        "type": "ui_tab",
        "name": "Graph Data",
        "icon": "dashboard",
        "order": 7,
        "disabled": false,
        "hidden": false
    }
]
